# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
oracleJdk-26/*

# Demo output
demo-output/

# Spring Boot build artifacts
spring-boot-sample/target/
